[submodule "bin/sshuttle.git"]
	path = bin/sshuttle.git
	url = https://github.com/apenwarr/sshuttle.git
[submodule "vim/vim.symlink/snippets"]
	path = vim/vim.symlink/snippets
	url = https://github.com/kleinmann/snipmate-snippets.git
[submodule "bash/bash_completion.d.symlink/git-flow-completion"]
	path = bash/bash_completion.d.symlink/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "bin/youtube-dl.git"]
	path = bin/youtube-dl.git
	url = https://github.com/rg3/youtube-dl.git
[submodule "linux-configs/config.symlink/awesome/vicious"]
	path = linux-configs/config.symlink/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "linux-configs/config.symlink/awesome/obvious"]
	path = linux-configs/config.symlink/awesome/obvious
	url = https://github.com/farhaven/obvious
[submodule "bin/spork.git"]
	path = bin/spork.git
	url = https://github.com/cr/spork.git
[submodule "emacs.d.symlink/vendor/gist.el"]
	path = emacs.d.symlink/vendor/gist.el
	url = https://github.com/mhayashi1120/gist.el.git
